body{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: #333;
  line-height: 1.6;
}
html{
  scroll-behavior: smooth;
}
*,
*:before,
*:after{

  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
/* Container  */
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/* Intro */
.intro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: url("../images/head4.jpg") center
        no-repeat;
        -webkit-background-size:cover;
        background-size: cover;
}
.intro_inner{
  width: 100%;
  max-width: 830px;
  margin: 0 auto;
}
.intro_title{
  font-size: 130px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 5%;
}

/* Button */
.btn{
  display: inline-block;
  vertical-align: top;
  padding: 8px 30px;
  border:3px solid #333;
  color: #333;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  transition: background .1s linear;
}
.btn:hover{
  background: #333;
  color: #fff;
}


/* header  */
.header{
  width: 100%;
  position: absolute;
  top:0;
  left 0;
  right: 0;
  z-index: 1000;

}
.header_inner{
  display: flex;justify-content: space-between;
}
/* Nav */
.nav{
  font-size: 18px;
  position: absolute;
  right: 8%;
  left: auto;
text-transform: uppercase;
}
.nav_link{
  padding-top: 4%;
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #333;
  text-decoration: none;
  transition: color 0.2s linear;
}
.nav_link:after{
  content:"";
  display: block;
  width: 100%;
  height: 3px;
  background-color: green;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
 z-index: 1;
 transition:opacity 0.1s linear;
}
.nav_link:hover{
  color: green;
}
.nav_link:hover:after{
opacity: 1;
}
/* section  */
.section{
  background: #DCDCDC no-repeat;
  padding: 10% 0;
  height: 100vh;
  width: 100%;

}
.section_header{
  width: 100%;
  max-width: 950px;
  margin:0 auto 5%;
  text-align: center;
}
.section_title{
  font-size: 35px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
}
.section_text{
  font-size: 20px;
  color: black;
}

/* About images */
.about_images{
  display: flex;
  justify-content: space-between;
}
.about_img_item{
  width: 30%;
  align-items: center;
}
/* Skills */
.Skills{
  width: 100%;
  height: 100vh;
  padding: 10% 0;
  background: white  no-repeat;
}
.skill_images{
  padding-top: 4%;
  display: flex;
  justify-content: space-between;
}
.skill_images_item{
  padding-left: 0px;
  width: 30%;
  align-items: center;
}
.Projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  background: url("../images/projects_back.jpg") center
        no-repeat;
        -webkit-background-size:cover;
        background-size: cover;
}
/* Scrolling to begining */
.scroll_top{
  width: 7%;
  height: 100vh;
  position: fixed;
  left: 0;
  top:0;
  font-size: 14px;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  opacity:0;
}
.scroll_top:hover{
  opacity: 0.25;
  background-color:grey;
  color: #black;
}
